* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #feac5e;
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  color: rgb(63, 63, 63);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  padding: 30px;
  margin: 0;
}

main {
  background: url(../assets/logo_satc.png);
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin-right: 5rem;
  color: rgb(63, 63, 63);
}

#content-wrapper {
  background-color: rgba(255, 255, 255, 0.306);
  max-width: 500px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  color: rgb(63, 63, 63);
}

h1 {
  color: white;
  text-transform: lowercase;
  font-weight: 200;
  margin-top: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: rgb(63, 63, 63);
}

button {
  padding: 1rem 1.7rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(239, 239, 239);
  color: rgb(63, 63, 63);
  text-transform: uppercase;
  /* font-size: 1.2rem; */
  font-size: 0.8rem;
  margin: 0.4rem 0.2rem;
}

.paniniCard {
  font-family: "Inter", sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.352);
  width: 300px;
  height: 90%;
  border-radius: 20px;
  padding: 20px;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.312);
  font-weight: 200;
}

#output {
  display: flex;
  gap: 1rem;
}

p {
  padding: 3px;
}

textarea,
input,
select {
  padding: 7px 7px;
  border-radius: 5px;
  border: none;
  font-family: "Inter", sans-serif;
  width: 100%;
}

#age-div,
#name-div {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.emoji {
  display: inline-block;
  transform: rotate(180deg);
}

@keyframes falling {
  0% {
    transform: translateY(-100px); /* Startposition */
  }
  100% {
    transform: translateY(
      calc(100vh + 50px)
    ); /* Endposition (unterhalb des Bildschirms) */
  }
}

section {
  display: flex;
}

#img-font {
  width: 105px;
}
